@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

body {
  /* background-color: #f1f0f0; */
  box-sizing: border-box;
  height: 100vh;  
}

.custom-grid-cols {
  grid-template-columns: 1fr 1fr;
}

.active {
  @apply text-blue-500
}


.darkmood-home {
  background-color: #242426;
}

.darkmood-bg {
  background-color: #171616;
}

.darkmood-border {
  border-color: #2b2828;
}